#변수와 자료형

##변수

In [ ]:
a = 1
b = "python"
c = [1, 2, 3]

###변수 이름을 짓는 요령
1. 카멜 기법: 첫 글자는 소문자, 이후 첫 글자는 대문자로 표기 ex) myVariable, getUserInfo
2. 스네이크 기법: 단어와 단어 사이를 밑줄(_)로 연결 ex) my_variable, get_user_info
3. 파스칼 기법: 첫글자 대문자 ex) MyVariable, GetUserInfo

---

*   함수 -> 스네이크 기법
*   클래스 -> 파스칼 기법
*   변수 -> 카멜 기법

---

## 자료형
- 파이썬은 데이터의 자료형이 변수 선언시 자동으로 지정
- 데이터 타입에 따라서 분석 기법, 시각화 기법, 코드가 달라질 수 있다.
- 자료형은 프로그래밍에서 가장 기본
- 자료형의 종류: 숫자형, 문자열, 리스트, 튜플, 딕셔너리, 집합, boolean

In [ ]:
한글변수 = 32
print(한글변수)

32

In [ ]:
a=1
type(a)

int

In [ ]:
b=1.1
type(b)

float

In [ ]:
c='c'
type(c)

str

### 숫자형
- 사칙연산이 가능
  - '+' = 더하기
  - '-' = 빼기
  - '/' = 나누기
  - '*' = 곱하기
  - '%' = 나머지
  - '//' = 몫
  - '**' = 제곱

In [ ]:
a= 15
b= 3
print(a + b)
print(a - b)
print(a / b)
print(a % b)
print(a // b)
print(a **b)

18
12
5.0
0
5
3375

### 문자열
- 큰 따옴표(") 또는 작은따옴표(')를 이용하여 선언
- 여러줄을 문자열로 선언하고 싶을 때에는 큰 따옴표 또는 작은 따옴표를 세개를 사용 ex) """안녕하세요.
            만나서 반갑습니다."""
- 문자열 더하기, 곱하기 연산만 가능
- 인덱싱(indexing, slicing)이 가능

In [ ]:
# 문자열 선언
str1 = "Hello World"
str2 = "python is fun"
print(str1)
print(str2)

Hello World
python is fun

In [ ]:
str3 = """
이건 긴 문자열
이건 긴 문자열 입니다.
"""
print(str3)

이건 긴 문자열
이건 긴 문자열 입니다.

In [ ]:
str1 + ' ' + str2

'Hello World python is fun'

In [ ]:
str1 * 3

'Hello WorldHello WorldHello World'

In [ ]:
print(str1[10]) #indexing
print(str1[-1]) #indexing
print(str1[6:11]) #slicing
print(str1[6:]) #slicing
print(str1[:6]) #slicing
print(str1[:]) #slicing

d
d
World
World
Hello
Hello World

#### Example 1-1.
어떤 회원이 생년월일 입력란에 890724를 입력하였을 때, 해당 문자를 89/07/24로 출력하기

In [ ]:
birth = '890724'
print(birth[:2]+ '/' + birth[2:4] + '/' + birth[4:])

89/07/24

#### Example 1-2.
 어떤 유통회사의 유통일자가 20190603으로 입력되었을 때, 해당 문자를 2019-06-03으로 출력하기

In [ ]:
date = '20190603'
print(date[:4]+ '-' + date[4:6] + '-' + date[6:])

2019-06-03

#### Example 1-3.
 어떤 고객이 휴대전화번호를 010-1234-5678으로 입력하였을 때, 해당 문자를 01012345678으로 출력하기

In [ ]:
number = '010-1234-5678'
print(number[:3] + number[4:8] + number[9:])

01012345678

### 리스트
- 하나의 리스트안에 여러 데이터타입을 넣을 수 있다.
- 데이터간 순서가 존재해서 슬라이싱, 인덱싱이 가능
- 대괄호 사용
- 리스트에 활용할 수 있는 내장함수 존재
  - append() : 추가(***)
  - insert() : 삽입
  - remove() : 삭제

In [ ]:
list1 = [1, '2', '삼', 4, 5]
list2 = [1, 2, 3, 4, 5]
print(list2[2:5])  #3, 4, 5
print(list2[2])

[3, 4, 5]

In [ ]:
list2.append(6)
print(list2)

[1, 2, 3, 4, 5, 6]

In [ ]:
list3 = [1, 2, 3]
list4 = [2, 3, 4]
print(list3 * 3)
print(list3 + list4)

[1, 2, 3, 1, 2, 3, 1, 2, 3]
[1, 2, 3, 2, 3, 4]

### 튜플
- 여러개의 데이터를 집어넣을 수 있음
- 소괄호 사용
- 데이터간 순서가 존재해서 인덱싱, 슬라이싱 가능
- 변경 불가능
- packing, unpacking이 가능

In [ ]:
tuple1 = (1, 2, 3, 4, 5)
print(tuple1[1])

2

In [ ]:
e1, e2, e3, e4, e5 = tuple1
print(e1)
print(e2)
print(e3)

1
2
3

### 딕셔너리
- Key와 Value가 pair한 형태로 선언
- Key를 통해 Value를 얻는다.
- Key 값 중복 불가능
- 중괄호 사용

In [ ]:
dic1 = {'key1' : 100, 'key2' : 200, 'key3' : 300}
print(dic1)

{'key1': 100, 'key2': 200, 'key3': 300}

In [ ]:
print(dic1['key1'])

100

In [ ]:
print(dic1.keys())
print(dic1.values())

dict_keys(['key1', 'key2', 'key3'])
dict_values([100, 200, 300])

### 집합
- 리스트와 같이 여러개의 데이터를 집어넣을 수 있으나, **중복이 불가**
- 중괄호를 활용
- 데이터 내 순서 x
- 집합연산(교집합, 합집합)이 가능

In [ ]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
print(set1 & set2) # 교집합
print(set1 | set2) # 합집합
print(set1 - set2) # 차집합
print(set2 - set1) # 차집합

{2, 3}
{1, 2, 3, 4}
{1}
{4}

### Boolean
- True, False와 같이 참과 거짓으로 나타내는 자료형
- 값이 있으면 True, 없으면 False

In [ ]:
if {}:
  print('참')
else :
  print('거짓')

거짓

#### Example 1-8.
값(x)을 입력 받아 아래의 함수 계산하기 (y 구하기)

	1) y = x² - x + 100 	2) y = 2x +25 	3) y =  x² + x  / x

In [ ]:
x = int(input('값을 입력하세요.'))
y = x**2 -x + 100
print(y)
y = 2*x + 25
print(y)
y = (x**2 + x) / x
print(y)

값을 입력하세요.50
2550
125
51.0

#### Example 1-13.
금액을 입력했을 때, 상품 가격에 따른 잔돈을 반환하는 자판기 프로그램 만들기

		* 금액과 상품가격은 input함수로 선언
		* 잔돈은 500,100,50,10원 단위로 반환
		* 잔돈은 가장 큰 금액부터 반환
		예) 잔돈 760원 :  500원1개, 100원2개, 50원 1개, 10원 1개

In [ ]:
inputPrice = int(input('지불금액을 입력하세요.'))
pruductPrice = int(input('상품가격을 입력하세요.'))

print('잔돈 ',(inputPrice-pruductPrice), '원')
print('500원 ', (inputPrice-pruductPrice)//500, '개')
print('100원 ', ((inputPrice-pruductPrice)%500)//100, '개')
print('50원 ', ((inputPrice-pruductPrice)%100)//50, '개')
print('10원 ', ((inputPrice-pruductPrice)%50)//10, '개')

값을 입력하세요.10000
값을 입력하세요.5730
잔돈  4270 원
500원  8 개
100원  2 개
50원  1 개
10원  2 개